.title
  display: block
  font-weight: 700  
  line-height: 1.3

  &--h1
    font-size: em(60)
    +lg
      font-size: em(50)
    +md
      font-size: em(42)
    +xs
      font-size: em(36, 14)

  &--h2
    font-size: em(36)
    font-weight: 400
    small
      font-size: .7em
      font-weight: 300

    +md
      font-size: em(32)
    +sm
      font-size: em(30, 14)

  &--h3
    font-size: em(24)
    font-weight: 600
    +sm
      font-size: em(20, 14)

  &--h4
    font-size: 1em
    font-weight: 600

  &--h5
    font-size: em(16)
    font-weight: 600
    +sm
      font-size: em(16, 14)

.text
  &--400
    font-weight: 400
