<!-- begin header -->
<header class="header{% if header.mod %} {{ header.mod }}{% endif %}">
  <div class="container">
    <div class="header__inner">
      <a href="/" class="header__logo logo">
        <img class="js-lazy" alt="" src="" data-src="./img/logo.svg"/>
      </a>

      <nav class="header__nav nav js-menu">
        <div class="nav__btns">          
          <a href="#" class="header__sign-up">{{ mixins.icon('sign-up') }}</a>
          <button class="header__close close js-menu-close"></button>
        </div>

        <ul class="nav__list">
          <li class="nav__item nav__item--current"><a href="#" class="nav__link">Sevice</a></li>
          <li class="nav__item"><a href="#" class="nav__link">About</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
          <li class="nav__item"><a href="#" class="nav__link">FAQ</a></li>
        </ul>
      </nav>

      <div class="header__btn">
        {{ mixins.btn(
          title = 'Sign up for Free',
          mod = 'btn--transp'
        ) }}
      </div>

      <button class="header__burger burger js-burger">
        {{ mixins.icon('arrow') }}
      </button>
    </div>
  </div>
</header>
<!-- end header -->