<!-- begin hero -->
<section class="hero">
  <div class="container">

    <div class="hero__slide">     
      
      <h2 class="hero__title title title--h1">Hire profit making <br> algo trader who <br> works Independently</h2>

      <div class="hero__subttl">Сhoose portfolio, make profit. <br> Tokkia algotrading bots will take care of everything else.</div>

      <div class="hero__btn">
        {{ mixins.btn(
          title = 'Sign up for Free',
          mod = ''
        ) }}
      </div>

      <div class="hero__controls">arrows</div>
     
    </div>
  </div>

  <div class="hero__laptop">
    <img class="js-lazy" alt="" src="" data-src="./img/commp1.png"/>
  </div>

  <img class="hero__bottom-img js-lazy" alt="" src="" data-src="./img/Rectangle_51.png"/>
</section>
<!-- end hero -->