{%set
form = {
  mod: '',
  fields: [
    {
      name: 'input',
      type: 'text',
      placeholder: 'Name',
      label: {}
    },
    {
      name: 'input',
      type: 'email',
      placeholder: 'Email',
      label: {}
    },
    {
      name: 'input',
      type: 'tel',
      placeholder: 'Phone number',
      label: {}
    }
  ]
}
%}

<!-- begin section -->
<section class="section s-contacts" id="contacts">
  <img class="s-contacts__top-img js-lazy" alt="" src="" data-src="./img/Group_10.svg"/>
  <div class="container">
    <div class="s-contacts__inner">
      <div class="s-contacts__left js-anim-el" data-anim-name="fadeInUp">
        <h2 class="section__title section__title--mb-xl title title--h2">Trade like a pro. <br> Start your trial today</h2>

        <ol class="section-list">
          <li class="section-list__item">{{ mixins.icon('ellipse') }}Create an account</li>
          <li class="section-list__item">{{ mixins.icon('ellipse-2') }}Choose your strategy</li>
          <li class="section-list__item">{{ mixins.icon('ellipse-3') }}Trade with 100 times more experienced than competitors and friends.</li>
        </ol>
      </div>

      <div class="s-contacts__right">
        <div class="s-contacts__form js-anim-el" data-anim-name="fadeInUp" data-anim-delay="300">
          <h3 class="section__title section__title--mb-md title title--h3">Contact us</h3>
          {% include "partials/_form.html" %}
        </div>        
      </div>
    </div>
  </div>
</section>
<!-- end section -->