{%set
faq = {
  link: true,
  questions: [
    {
      title: 'How Tokkia works?',
      text: 'Tokkia is a service for automatically following trades that carry out trading bots developed by our team of traders with many years of experience. The service does not require client participation, does not have access to funds, and the ability to set risk boundaries allows you to avoid major losses during trading.'
    },
    {
      title: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit?',
      text: 'Tokkia is a service for automatically following trades that carry out trading bots developed by our team of traders with many years of experience. The service does not require client participation, does not have access to funds, and the ability to set risk boundaries allows you to avoid major losses during trading.'
    },
    {
      title: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit?',
      text: 'Tokkia is a service for automatically following trades that carry out trading bots developed by our team of traders with many years of experience. The service does not require client participation, does not have access to funds, and the ability to set risk boundaries allows you to avoid major losses during trading.'
    }
  ]
}
%}

<!-- begin section -->
<section class="section s-faq">
  <img class="s-faq__top-img js-lazy" alt="" src="" data-src="./img/Rectangle_238.svg"/>
  <img class="s-faq__bottom-img js-lazy" alt="" src="" data-src="./img/Rectangle_237.svg"/>

  <div class="container container--md js-anim-el" data-anim-name="fadeInUp">
    <h2 class="section__title title title--h2">F.A.Q</h2>

    {% include "partials/_faq.html" %}
  </div>
</section>
<!-- end section -->