<!-- begin section -->
<section class="section s-imgs">
  <div class="container">
    <div class="s-imgs__inner">
      <div class="s-imgs__left js-anim-el" data-anim-name="fadeInUp">
        <h2 class="section__title title title--h2">Algo trading without mistakes. 100% strategy, 0% competitors.</h2>

        <div class="section__text s-imgs__text">Start your own trading using deep experience of our professional team. Different algo trading bots and strategies available without limits on top cryptoexchanges.</div>

        {{ mixins.btn(
          title = 'Sign up for Free',
          mod = 's-imgs__btn'
        ) }}
      </div>

      <div class="s-imgs__right js-anim-el" data-anim-name="fadeInUp" data-anim-delay="300">
        {% include "partials/_imgs-block.html" %}

        <div class="s-imgs__btn-mob">
          {{ mixins.btn(
            title = 'Sign up for Free',
            mod = ''
          ) }}
        </div>
      </div>
    </div>

    <hr class="s-imgs__hr hr">
  </div>
</section>
<!-- end section -->