.features
  display: flex
  flex-wrap: wrap
  align-items: center

  &__left
    width: percentage(514 / 1134)
    +lg
      width: 50%
      padding-right: 1rem
    +md
      width: 100%
      padding-right: 0
      order: 1

  &__right
    width: percentage((1134 - 514) / 1134)
    padding-left: rem(80)
    +lg
      width: 50%
      padding-left: 1rem
    +md
      width: 100%
      padding-left: 0
      order: 0
      margin-bottom: rem(32)

  &__content
    max-width: 516px

  &__block
    +notlast
      margin-bottom: rem(40)
      +xs
        margin-bottom: rem(10, 14)


  &__btn
    +md
      display: none
  &__btn-mob
    text-align: center
    margin-top: rem(30, 14)
    +mdmin
      display: none

.feature
  background-color: $white
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1)
  border-radius: 4px
  position: relative
  padding: rem(30)
  padding-left: rem(120)

  +xs
    padding: rem(20, 14)

  &__icon
    position: absolute
    z-index: 1
    top: rem(30)
    left: rem(30)

    display: flex
    align-items: center
    justify-content: center

    color: $white
    width: 1em
    height: 1em
    font-size: rem(70)

    background-color: $accent
    border-radius: 50%

    +xs
      font-size: rem(30, 14)
      position: relative
      top: auto
      left: auto
      margin-right: rem(9, 14)

    img
      +vcenter
      width: rem(35)
      max-height: 100%
      max-width: 70%

    // .icon
    //   font-size: rem(35)
    //   +xs
    //     font-size: rem(18, 14)

  &__title    
    a
      text-decoration: underline

    +xs
      margin-bottom: 0

  &__title-wrap
    margin-bottom: rem(26)
    +md
      margin-bottom: rem(15)
    +xs
      display: flex
      align-items: center

  &__text
    color: $c-text-aux