.hero
  background-color: $accent
  +image('bg-hero.jpg')
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: cover
  color: $white
  position: relative

  

  &__slide
    padding-top: rem(190)
    padding-bottom: rem(126)
    position: relative
    z-index: 3

  &__title
    margin-bottom: rem(20)

  &__subttl
    margin-bottom: rem(50)

  &__btn
    margin-bottom: rem(63)

  &__laptop
    position: absolute
    bottom: 0
    right: 0
    z-index: 1

  &__bottom-img
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    z-index: 0

  &__bottom-circle
    position: absolute
    bottom: rem(-200)
    left: 0
    z-index: 1

.hero-laptop
  &__slide
    position: absolute
    top: 7%
    right: 0
    z-index: 1