.imgs-block
  position: relative
  width: 100%
  padding-top: 80%
  font-size: rem(178)

  +lg
    font-size: rem(150)

  +md
    font-size: rem(120)

  +sm
    padding-top: rem(300)

  +xs
    font-size: rem(100)

  &__item
    width: 1em
    height: 1em
    position: absolute
    z-index: 1

    &:nth-child(1)
      width: 1em
      height: 1em
      top: 0
      left: 10%
    &:nth-child(2)
      width: (130 / 178) * 1em
      height: (130 / 178) * 1em
      top: 2%
      right: 25%
    &:nth-child(3)
      width: (98 / 178) * 1em
      height: (98 / 178) * 1em
      top: 25%
      right: 0
    &:nth-child(4)
      width: (124 / 178) * 1em
      height: (124 / 178) * 1em
      top: 50%
      left: 0
    &:nth-child(5)
      width: (154 / 178) * 1em
      height: (154 / 178) * 1em
      top: 40%
      left: 35%
    &:nth-child(6)
      width: (162 / 178) * 1em
      height: (162 / 178) * 1em
      top: 55%
      right: 2%
    &:nth-child(7)
      width: (98 / 178) * 1em
      height: (98 / 178) * 1em
      bottom: 0
      left: 25%

.imgs-item
  display: flex
  align-items: center
  justify-content: center

  border-radius: 50%
  background-color: $white
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1)

  img
    max-height: 70%
    max-width: 70%
