.nav-link
  font-size: em(16)
  +hover
    @extend .nav__item--current

  +sm
    font-size: 1em

  
.nav
  $this: &
  &__btns
    display: flex
    align-items: center
    justify-content: space-between

    margin-bottom: rem(10)

    +lgmin
      display: none

  &__item
    display: inline-block
    +notlast
      margin-right: rem(77)
      +lg
        margin-right: 0
    +lg
      display: block

    &--current
      text-decoration: underline

  &__link
    +lg
      display: block
      padding: rem(7) 0
      border-bottom: 1px solid rgba($white, .2)   

  &--footer
    #{$this}__list
      display: flex
      flex-wrap: wrap

    #{$this}__item
      margin-right: 0 !important
      width: 50%
      margin-bottom: rem(10)

    #{$this}__link
      text-decoration: underline