.plans
  display: flex
  &__item
    width: 248px
    height: auto


.plan-item
  $this: &

  display: flex
  flex-direction: column

  border-radius: 12px
  background-color: $white
  padding: rem(20)

  +tr(background-color .3s, color .3s)

  +notlast
    +before
      border-right: 1px solid #E6E6E6

      position: absolute
      z-index: 1
      top: 0
      right: 0
      height: 80%

  &:hover
    background-color: $accent
    color: $white

    +before
      display: none

    #{$this}__btn
      +visible

  &__title-wrap
    margin-bottom: rem(8)
    display: block
    flex-grow: 1

  &__list
    margin-bottom: rem(20)
    display: block


  &__title
    @extend .price
    display: block

  &__price
    display: block
    margin-bottom: rem(20)

  &__btn
    display: block
    +hidden

    +tr(opacity .3s, visibility .3s)

.plan-list
  &__item
    display: flex
    align-items: center

    +notlast
      margin-bottom: rem(10)

    .icon
      font-size: .7em
      fill: $accent-aux
      margin-right: .7em