.section
  position: relative
  &__title
    margin-bottom: rem(20)
    &--mb-md
      margin-bottom: rem(30)
    &--mb-lg
      margin-bottom: rem(40)
    &--mb-xl
      margin-bottom: rem(50)

  &__text
    p
      +notlast
        margin-bottom: rem(30)
    +notlast
      margin-bottom: rem(27)

  &__block
    margin-bottom: rem(50)